/* Algemeen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body, html {
    overflow-x: hidden;
}

/* header */

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

header a:hover {
    color:aquamarine;
}

ul{
    list-style: none;
    text-decoration: underline;
    background:rgb(86, 86, 136);
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 30px;
}

/* einde header */

/* main index*/

.index_menu {
    height: 100vh;
    background-image: url(afbeeldingen/mountains.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.index_menu h2 {
    font-size: 1em;
}

.header-button {
    display: flex;
    justify-content: center;
}

.onderlijn {
width: 150px;
height: 4px;
background-color:coral;
margin: 10px auto;
border-radius: 5px;
}

.index_menu h1 {
    font-size: 7vh;
    margin-top: 50px;
}

.knopje {
    padding: 8px 15px;
    background: coral;
    color: black;
}

.knopje:hover {
    color: white;
    background-color:teal;
}

h1 {
    color: white;
    text-align: center;
}

header h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: coral;
}

.ondertekst {
    width: 80%;
    margin: 80px auto;
}

.ondertekst h2 {
    color:teal;
    text-align: center;
    font-size: 1.5em;
}


.home_tekst {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.home_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h4 {
    font-size: 1.5em;
    color: teal;
    margin: 20px auto;
}

p {
    color:darkslategrey;
    padding: 10px 40px 20px;
    text-align: center;
}

.home_tekst .ctn {
    margin-top: 30px;
}

.ontdek {
    width: 100%;
    height: 100vh;
    background-image: url(afbeeldingen/grand-canyon2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ontdek_tekst {
    width: 60%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ontdek p {
    color: white;
    text-align: center;
}


/* main index*/


/* steden.hmtl opmaak */

.steden_menu {
    height: 100vh;
    background-image: url(afbeeldingen/achtergrondfoto_steden.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.lasvegas_chicago_losangles {
    display: flex;
    justify-content: center;
}

.lasvegas_chicago_losangles .knopje {
    background-color: black;
    color: whitesmoke;
}

.lasvegas_chicago_losangles .knopje:hover {
    background-color:teal;
}

.newyork_sanfrancisco_miami {
    display: flex;
    justify-content: center;
}

.newyork_sanfrancisco_miami .knopje {
    background-color: black;
    color: whitesmoke;
}

.newyork_sanfrancisco_miami .knopje:hover {
    background-color:teal;
}

.orlando_washington_sandiego {
    display: flex;
    justify-content: center;
}

.orlando_washington_sandiego .knopje {
    background-color: black;
    color: whitesmoke;
}

.orlando_washington_sandiego .knopje:hover {
    background-color:teal;
}

.kaart {
    background:coral;
    width: 100vh;
    height: 570px;
    margin: 10px;
    border-radius: 15px;
}

.kaart_afbeelding {
    height: 350px;
    margin-bottom: 15px;
    background-size: cover;
}

.kaart p {
    color: black;
}

.kaart h3 {
    color: black;
    text-align: center;
}

.kaart_1 {
    background-image: url(afbeeldingen/las_vegas.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_2 {
    background-image: url(afbeeldingen/Chicage.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_3 {
    background-image: url(afbeeldingen/Los_Angeles.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_4 {
    background-image: url(afbeeldingen/san_francisco.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_5 {
    background-image: url(afbeeldingen/times_square.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_6 {
    background-image: url(afbeeldingen/miami_beach.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_7 {
    background-image: url(afbeeldingen/orlando.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_8 {
    background-image: url(afbeeldingen/washington_dc.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_9 {
    background-image: url(afbeeldingen/sandiego.jpg);
    border-radius: 15px 15px 0 0;
}