/* Algemeen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body, html {
    overflow-x: hidden;
}

/* header */

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

header img {
    height: 80px;
    width: 100px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

header a:hover {
    color:teal;
}

ul{
    list-style: none;
    text-decoration: underline;
    background:rgb(86, 86, 136);
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 30px;
}

/* einde header */

/* main index*/

.index_menu {
    height: 100vh;
    background-image: url(afbeeldingen/mountains.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-button {
    display: flex;
    justify-content: center;
}

.onderlijn {
width: 150px;
height: 4px;
background-color:coral;
margin: 10px auto;
border-radius: 5px;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    font-weight: 900;
}

.knopje {
    padding: 8px 15px;
    background: coral;
    color: black;
    border-radius: 10px;
}

.knopje:hover {
    color: white;
    background-color:teal;
}

h1 {
    color: white;
    text-align: center;
}


h2 {
    color: whitesmoke;
    text-align: center;
}

header h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color: coral;
}

h4 {
    font-size: 1.5em;
    color: teal;
    margin: 20px auto;
}

.ondertekst {
    width: 80%;
    margin: 80px auto;
}

.ondertekst h2 {
    color:teal;
    text-align: center;
    font-size: 1.5em;
}

.eten {
    float:right;
    width: 40%;
    height: 300px;
    text-align: center;
}

.colorado {
    float: left;
    width: 40%;
    height: 400px;
    text-align: center; 
}


p {
    color:darkslategrey;
    padding: 10px 40px 20px;
    text-align: center;
}

.ontdek {
    width: 100%;
    height: 100vh;
    background-image: url(afbeeldingen/grand-canyon2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 700px;
    margin-bottom: 50px;
}

.ontdek ol {
    width: 60%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: left;
    flex-direction: column;
    font-weight: 600;
}

.ontdek p {
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
}

.ontdek h2 {
   color: whitesmoke;
}
/* main index*/


/* steden.hmtl opmaak */

.steden_menu {
    height: 100vh;
    background-image: url(afbeeldingen/achtergrondfoto_steden.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.lasvegas_chicago_losangles {
    display: flex;
    justify-content: center;
}

.lasvegas_chicago_losangles .knopje {
    background-color: black;
    color: whitesmoke;
}

.lasvegas_chicago_losangles .knopje:hover {
    background-color:teal;
}

.newyork_sanfrancisco_miami {
    display: flex;
    justify-content: center;
}

.newyork_sanfrancisco_miami .knopje {
    background-color: black;
    color: whitesmoke;
}

.newyork_sanfrancisco_miami .knopje:hover {
    background-color:teal;
}

.orlando_washington_sandiego {
    display: flex;
    justify-content: center;
}

.orlando_washington_sandiego .knopje {
    background-color: black;
    color: whitesmoke;
}

.orlando_washington_sandiego .knopje:hover {
    background-color:teal;
}

.kaart {
    background:coral;
    width: 100vh;
    height: 570px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0,0.3);
}

.kaart_afbeelding {
    height: 350px;
    margin-bottom: 15px;
    background-size: cover;
}

.kaart p {
    color: black;
}

.kaart h3 {
    color: black;
    text-align: center;
}

.kaart_1 {
    background-image: url(afbeeldingen/las_vegas.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_2 {
    background-image: url(afbeeldingen/Chicage.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_3 {
    background-image: url(afbeeldingen/Los_Angeles.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_4 {
    background-image: url(afbeeldingen/san_francisco.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_5 {
    background-image: url(afbeeldingen/times_square.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_6 {
    background-image: url(afbeeldingen/miami_beach.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_7 {
    background-image: url(afbeeldingen/orlando.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_8 {
    background-image: url(afbeeldingen/washington_dc.jpg);
    border-radius: 15px 15px 0 0;
}

.kaart_9 {
    background-image: url(afbeeldingen/denver.jpg);
    border-radius: 15px 15px 0 0;
}

footer {
    background-color: coral;
}

footer h4, p {
    color: black;
}

.orlando_menu {
    height: 100vh;
    background-image: url(afbeeldingen/orlando_2.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    text-align: center;
}

.tekst_links img {
    width: 60%;
    height: 500px;
    float: right;
}

.tekst_links p {
    float: left;
    width: 40%;
}

.tekst_links {
    margin-bottom: 200px;
    margin-top: 50px;
}

.tekst_links h5 {
    text-align: center;
}

.attracties h2 {
    color: teal;
}

.tekst_rechts {
    margin-bottom: 675px;
}

.tekst_rechts img {
    width: 43%;
    height: 600px;
    float: left;
}

.tekst_rechts p {
    width: 43%;
    height: 600px;
    float: right;
}

.tekst_rechts a {
    background-color: coral;
    color: black;
    float: left;
    width: 43%;
}

.tekst_rechts h5 {
   text-align: center;
}

.new_york_menu {
    height: 100vh;
    background-image: url(afbeeldingen/new_york_achtergrond.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    text-align: center;
}

.oranje_vlak {
    background-color: coral;
    border-radius: 15px;
    width: auto;
    height: 100vh;
}

.orlando_washington_sandiego .header-button {
    margin-top: 30px;
}