/* Algemeen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body, html {
    overflow-x: hidden;
}

header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

header img {
    height: 80px;
    width: 100px;
    border-radius: 20px;
}

header a {
    color: whitesmoke;
}

header a:hover {
    color:coral;
}

a {
    text-decoration: none;
}

nav ul{
    list-style: none;
    text-decoration: underline;
    background:rgb(86, 86, 136);
    display: flex;
}

nav ul li {
    margin: 0 30px;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    font-size: 1.5em;
    color: teal;
    margin: 20px auto;
}

.header-button {
    display: flex;
    justify-content: center;
}

.knopje {
    padding: 8px 15px;
    background: coral;
    color: black;
    border-radius: 10px;
}

.knopje:hover {
    color: whitesmoke;
    background-color:teal;
}

.onderlijn {
width: 150px;
height: 4px;
background-color:coral;
margin: 10px auto;
border-radius: 5px;
}

.ondertekst {
    width: 80%;
    margin: 80px auto;
}

.ondertekst h2 {
    color:teal;
    font-weight: 900;
}

.ondertekst p {
    text-align: center;
}

footer {
    background-color: coral;
    height: 120px;
    border-radius: 15px;
}

footer ul {
    list-style-type: none;
    float: left;
}

footer p {
    color: black;
    padding: 0 90px 10px 40px;
}

footer h4 {
    padding-left: 40px;
    padding-top: 10px;
    color: darkslategrey;
}

/* Homepagina */
.index_menu {
    height: 100vh;
    background-image: url(afbeeldingen-home/achtergrond_homi.jpg);
    /* Brondvermelding afbeelding: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.1zoom.me%2Fnl%2Fwallpaper%2F552741%2Fz3675%2F1920x1080&psig=AOvVaw2nBfaKHGVwqkk82Wi80HSz&ust=1696858922420000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPDHi5zK5oEDFQAAAAAdAAAAABAE */ 
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.index_menu h2 {
    margin-bottom: 30px;
}

.stad_natuur {
    float: left;
    width: 40%;
    margin-left: 50px;
    text-align: center;
}

.stad_natuur img {
    height: 400px;
}

.strand {
    float:right;
    width: 40%;
    text-align: center;
    margin-right: 50px;
}

.strand img {
    height: 400px;
}

.feitjes {
    height: 100vh;
    background-image: url(afbeeldingen-home/vliegtuig.jpg); /* Deze Foto is zelf gemaakt */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 700px;
}

.feitjes ol {
    padding: 30px;
}

.feitjes h3 {
    font-size: 1.5em;
    font-weight: 900;
}

.feitjes p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Steden */
.steden_menu {
    height: 100vh;
    background-image: url(afbeeldingen-steden/achtergrondfoto_steden.webp);
    /* Bronvermelding afbeelding: https://pierrej.bandcamp.com/album/crocketts-theme */
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.steden_menu h2 {
    margin-bottom: 30px;
}

.kaart {
    background:coral;
    width: 100vh;
    height: 570px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0,0.3);
}

.kaart p {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.kaart h3 {
    text-align: center;
}

.kaart .knopje {
    background-color: black;
    color: whitesmoke;
}

.kaart .knopje:hover {
    background-color:teal;
}

.kaart_afbeelding {
    height: 350px;
    margin-bottom: 15px;
    background-size: cover;
}

.lasvegas_chicago_losangles {
    display: flex;
    justify-content: center;
}

.newyork_sanfrancisco_miami {
    display: flex;
    justify-content: center;
}

.orlando_washington_sandiego {
    display: flex;
    justify-content: center;
}

.las_vegas {
    background-image: url(afbeeldingen-steden/las_vegas.jpg);
    /* Bronvermelding afbeelding: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.1zoom.me%2Fnl%2Fwallpaper%2F481652%2Fz4967.8%2F&psig=AOvVaw3ag1RNid5ms08xa1AZkM0n&ust=1696871684626000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOCezeH55oEDFQAAAAAdAAAAABAE */
    border-radius: 15px 15px 0 0;
}

.chicago {
    background-image: url(afbeeldingen-steden/chicago.jpg);
    /* Bronvermelding afbeelding: https://podroztrwa.pl/chicago/ */
    border-radius: 15px 15px 0 0;
}

.los_angeles {
    background-image: url(afbeeldingen-steden/los_angeles.jpg);
    /* Bronvermelding afbeelding: https://waarovernachtenin.nl/bestemmingen/verenigde-staten/los-angeles/ */
    border-radius: 15px 15px 0 0;
}

.san_francisco {
    background-image: url(afbeeldingen-steden/san_francisco.jpg);
    /* Bronvermelding afbeelding: https://www.travelandleisure.com/trip-ideas/best-things-to-do-in-san-francisco */
    border-radius: 15px 15px 0 0;
}

.new_york {
    background-image: url(afbeeldingen-steden/times_square.jpg);
    /* Bronvermelding afbeelding: https://newyorkaktuell.nyc/times-square-neubeginn/ */
    border-radius: 15px 15px 0 0;
}

.miami {
    background-image: url(afbeeldingen-steden/miami_beach.jpg);
    /* Bronvermelding afbeelding: https://www.nationalgeographic.com/travel/article/top-activities-things-to-do-111 */
    border-radius: 15px 15px 0 0;
}

.orlando {
    background-image: url(afbeeldingen-steden/orlando.jpg);
    /* Bronvermelding afbeelding: https://www.droomplekken.nl/verenigde-staten/orlando/ */
    border-radius: 15px 15px 0 0;
}

.washington_dc {
    background-image: url(afbeeldingen-steden/washington_dc.jpg);
    /* Bronvermelding afbeelding: https://www.333travel.nl/amerika/rondreis/new-york-and-washington-by-rail */
    border-radius: 15px 15px 0 0;
}

.denver {
    background-image: url(afbeeldingen-steden/denver.jpg);
    /* Bronvermelding afbeelding: https://www.travel-experience-live.com/colorado-national-parks-near-denver/ */
    border-radius: 15px 15px 0 0;
}

/* Orlando activiteiten */
.orlando_menu {
    height: 100vh;
    background-image: url(afbeeldingen-orlando/orlando.jpg);
    /*Bronvermelding afbeelding: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reisroutes.be%2Fblog%2Fflorida%2Fbezienswaardigheden-orlando%2F&psig=AOvVaw1AqCDIXJEA-PzwkWXEu2GD&ust=1696884492412000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPiL0NWw54EDFQAAAAAdAAAAABAJ */
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    margin-bottom: 70px;
}

.orlando_menu h2 {
    margin-bottom: 30px;
}

.tekst_links img {
    width: 50%;
    height: 550px;
}

.tekst_links p {
   margin-bottom: 0 30px 30px 30px;
}

.tekst_links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 50px 0 50px 0;
}

.tekst_links h5 {
    align-items: center;
    margin-bottom: 20px;
    font-size: 1em;
}
.attracties h2 {
    color: teal;
}

.tekst_links img, .tekst_rechts img {
    width: 50%;
    height: 550px;
}

.tekst_links p, .tekst_rechts p {
    margin: 0 30px 30px 30px;
}

.tekst_links h5, .tekst_rechts h5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
}

.tekst_links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 50px 0 50px 0;
}

.tekst_rechts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 50px 0;
}


/* New York activiteiten */

.new_york_menu {
    height: 100vh;
    background-image: url(afbeeldingen-new-york/achtergrond_new_york.jpg);
    /* Bronvermelding afbeelding: https://www.kayak.co.uk/news/the-best-viewpoints-in-new-york/ */
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.new_york_menu h2 {
    margin-bottom: 30px;
}

.oranje_kaart {
    background-color: coral;
    border-radius: 15px;
    width: 203vh;
    height: 500px;
    margin-bottom: 30px;
}

.oranje_kaart p {
    color: black;
    text-align: left;
    margin-top: 10px;
}

.oranje_kaart h3 {
    padding: 30px;
}

.groene_kaart {
    background-color: teal;
    border-radius: 15px;
    width: 203vh;
    height: 500px;
    margin-bottom: 30px;
}

.groene_kaart p {
    color: black;
    text-align: left;
    margin-top: 10px;
}

.groene_kaart h3 {
    padding: 30px;
}

.central_park {
    background-image: url(afbeeldingen-new-york/central_park.jpg);
    /* Bronvermelding afbeelding: https://www.getyourguide.nl/central-park-l2614/nyc-zelfgeleide-speurtocht-en-rondleiding-door-het-beste-van-central-park-t407979/ */
    width: 90vh;
    height: 500px;
    border-radius: 15px 0 0 15px;
    float: left;
    margin-right: 50px;
}

.central_park h3 {
    margin: 35%;
    text-align: center;
    background-color: black;
    color: coral;
}

.one_world {
    background-image: url(afbeeldingen-new-york/one_world_trade_center.jpg);
    /* Bronvermelding afbeelding: https://architectenweb.nl/nieuws/artikel.aspx?ID=35671 */
    width: 90vh;
    height: 500px;
    border-radius: 15px 0 0 15px;
    float: left;
    margin-right: 50px;
}

.one_world h3 {
    margin: 35%;
    text-align: center;
    background-color: black;
    color: teal;
}

.vrijheidsbeeld {
    background-image: url(afbeeldingen-new-york/vrijheidsbeeld.jpg);
    /* Bronvermelding afbeelding: https://historianet.nl/techniek/bouwwerken/frankrijk-schonk-vs-het-vrijheidsbeeld */
    width: 90vh;
    height: 500px;
    border-radius: 15px 0 0 15px;
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
}

.vrijheidsbeeld h3 {
    margin: 35%;
    text-align: center;
    background-color: black;
    color: coral;
}
